In [1]:
import pandas as pd

In [41]:
sal=pd.read_csv('Salaries.csv')
sal.head(50)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.00,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
30,31,HARLAN KELLY-JR,EXECUTIVE CONTRACT EMPLOYEE,234325.02,0.00,25972.64,NaN,260297.66,260297.66,2011,NaN,San Francisco,NaN
31,32,DAVID SHINN,DEPUTY CHIEF III (POLICE DEPARTMENT),254027.63,0.00,5899.48,NaN,259927.11,259927.11,2011,NaN,San Francisco,NaN
32,33,GARY AMELIO,DEPARTMENT HEAD V,248895.70,0.00,10789.18,NaN,259684.88,259684.88,2011,NaN,San Francisco,NaN
33,34,JOHN TURSI,"INSPECTOR III, (POLICE DEPARTMENT)",104861.39,50227.61,103499.39,NaN,258588.39,258588.39,2011,NaN,San Francisco,NaN
34,35,JOSE VELO,"BATTALION CHIEF, (FIRE DEPARTMENT)",177781.25,59924.97,20658.00,NaN,258364.22,258364.22,2011,NaN,San Francisco,NaN
35,36,KHOA TRINH,ELECTRONIC MAINTENANCE TECHNICIAN,101953.20,139102.95,16483.94,NaN,257540.09,257540.09,2011,NaN,San Francisco,NaN
36,37,SUSAN CURRIN,"ADMINISTRATOR, SFGH MEDICAL CENTER",245124.44,0.00,12000.00,NaN,257124.44,257124.44,2011,NaN,San Francisco,NaN
37,38,JAMES BOSCH,"INSPECTOR III, (POLICE DEPARTMENT)",110661.20,31162.04,111446.20,NaN,253269.44,253269.44,2011,NaN,San Francisco,NaN
38,39,JONES WONG,LIEUTENANT III (POLICE DEPARTMENT),132202.26,52648.92,67083.83,NaN,251935.01,251935.01,2011,NaN,San Francisco,NaN
39,40,BRENDAN WARD,"BATTALION CHIEF, (FIRE DEPARTMENT)",147158.85,64985.85,39540.46,NaN,251685.16,251685.16,2011,NaN,San Francisco,NaN
40,41,MICHAEL THOMPSON,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.66,60847.56,21055.17,NaN,250595.39,250595.39,2011,NaN,San Francisco,NaN
41,42,THOMAS ABBOTT,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,59760.90,21954.96,NaN,250408.49,250408.49,2011,NaN,San Francisco,NaN
42,43,THOMAS SIRAGUSA,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",218930.76,4078.00,27330.59,NaN,250339.35,250339.35,2011,NaN,San Francisco,NaN
43,44,MICHAEL THOMPSON,FIREFIGHTER,123013.02,111729.65,15575.26,NaN,250317.93,250317.93,2011,NaN,San Francisco,NaN
44,45,SHARON MCCOLE WICHER,NURSING SUPERVISOR PSYCHIATRIC,196081.86,0.00,54040.18,NaN,250122.04,250122.04,2011,NaN,San Francisco,NaN
45,46,EDWIN LEE,MAYOR,249375.02,0.00,0.00,NaN,249375.02,249375.02,2011,NaN,San Francisco,NaN
46,47,BRYAN RUBENSTEIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.64,66199.23,14401.43,NaN,249293.30,249293.30,2011,NaN,San Francisco,NaN
47,48,TRENT RHORER,DEPARTMENT HEAD V,248895.77,0.00,0.00,NaN,248895.77,248895.77,2011,NaN,San Francisco,NaN
48,49,JAMES DUDLEY,DEPUTY CHIEF III (POLICE DEPARTMENT),233867.60,0.00,14851.04,NaN,248718.64,248718.64,2011,NaN,San Francisco,NaN
49,50,KEN YEE,"LIEUTENANT, FIRE DEPARTMENT",137729.92,89856.01,20848.46,NaN,248434.39,248434.39,2011,NaN,San Francisco,NaN

In [3]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [74]:
# What is the average BasePay ?

In [4]:
sal['BasePay'].mean()

66325.44884050643

In [75]:
# What is the highest amount of OvertimePay in the dataset ?

In [5]:
sal['OvertimePay'].max()

245131.88

In [76]:
# What is the job title of JOSEPH DRISCOLL ?

In [7]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [77]:
# How much does JOSEPH DRISCOLL make (including benefits)?

In [8]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [78]:
# What is the name of highest paid person (including benefits)?

In [14]:
sal.iloc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [79]:
# What is the name of highest paid person (including benefits)? 2nd solution

In [16]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [80]:
# What is the name of lowest paid person (including benefits)?

In [20]:
sal.iloc[sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [81]:
# What was the average (mean) BasePay of all employees per year? (2011-2014)

In [21]:
sal.groupby(by='Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [82]:
# How many unique job titles are there?

In [22]:
sal['JobTitle'].nunique()

2159

In [83]:
# What are the top 5 most common jobs?

In [24]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [84]:
# How many Job Titles were represented by only one person in 2013?

In [66]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

In [85]:
# How many people have the word Chief in their job title?

In [71]:
def checker(x):
    if 'chief' in x.lower().split():
        return True
    else:
        return False

In [72]:
sum(sal['JobTitle'].apply(checker))

477

In [86]:
# Is there a correlation between length of the Job Title string and Salary?

In [56]:
sal['title_len']=sal['JobTitle'].apply(len)
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000